<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nasubifujii.change-keyboard</string>
	<key>connections</key>
	<dict>
		<key>30964EB3-6F92-4F56-80EB-8652D44C8A94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC2EB3C2-E948-4B13-A0B5-0DD1C5BAF839</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B8ACE2D-FB07-47CF-BA18-AEB06DB217BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC2EB3C2-E948-4B13-A0B5-0DD1C5BAF839</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A19823DF-163B-469A-9FE8-BA036DDF8478</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6E980B7-DC00-4D3A-8E77-8FCF7B509FF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6E980B7-DC00-4D3A-8E77-8FCF7B509FF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B8ACE2D-FB07-47CF-BA18-AEB06DB217BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FEF4025E-52BC-4BE5-AC76-A9E69BA5DD98</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30964EB3-6F92-4F56-80EB-8652D44C8A94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11E6E86F-7EDF-4788-B751-89817004F846</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nasubifujii</string>
	<key>description</key>
	<string>Change US/JIS Keyboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Change US/JIS Keyboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Preferences"
  activate
  set current pane to pane "com.apple.preference.keyboard"
  delay 0.4
end tell
tell application "System Events"
  tell process "System Preferences"
    tell tab group 1 of window "Keyboard"
      click button "Change Keyboard Type…"
      delay 0.4
    end tell
  end tell
  tell window "Keyboard Setup Assistant" of process "KeyboardSetupAssistant"
    click button "Continue"
    tell application "System Events" to keystroke "z" using command down
    delay 0.4
    click button "Skip" of sheet 1
    delay 0.4
    tell radio group 1 of group 1
      click radio button "JIS (Japanese)"
    end tell
    click button "Done"
  end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B8ACE2D-FB07-47CF-BA18-AEB06DB217BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>quit application "System Preferences"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC2EB3C2-E948-4B13-A0B5-0DD1C5BAF839</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"jis","arg":"jis","subtitle":"JIS Keyboard"},{"title":"us","arg":"us","subtitle":"US Keyboard"}]</string>
				<key>keyword</key>
				<string>kb</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Change Keyboard Type (us/jis)</string>
				<key>title</key>
				<string>Change Keyboard Type (us/jis)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A19823DF-163B-469A-9FE8-BA036DDF8478</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>jis</string>
						<key>outputlabel</key>
						<string>jis</string>
						<key>uid</key>
						<string>FEF4025E-52BC-4BE5-AC76-A9E69BA5DD98</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>us</string>
						<key>outputlabel</key>
						<string>us</string>
						<key>uid</key>
						<string>11E6E86F-7EDF-4788-B751-89817004F846</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F6E980B7-DC00-4D3A-8E77-8FCF7B509FF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Preferences"
  activate
  set current pane to pane "com.apple.preference.keyboard"
  delay 0.4
end tell
tell application "System Events"
  tell process "System Preferences"
    tell tab group 1 of window "Keyboard"
      click button "Change Keyboard Type…"
      delay 0.4
    end tell
  end tell
  tell window "Keyboard Setup Assistant" of process "KeyboardSetupAssistant"
    click button "Continue"
    tell application "System Events" to keystroke "z" using command down
    delay 0.4
    click button "Skip" of sheet 1
    delay 0.4
    tell radio group 1 of group 1
      click radio button "ANSI (United States and others)"
    end tell
    click button "Done"
  end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30964EB3-6F92-4F56-80EB-8652D44C8A94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>30964EB3-6F92-4F56-80EB-8652D44C8A94</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>4B8ACE2D-FB07-47CF-BA18-AEB06DB217BF</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>A19823DF-163B-469A-9FE8-BA036DDF8478</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>CC2EB3C2-E948-4B13-A0B5-0DD1C5BAF839</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>F6E980B7-DC00-4D3A-8E77-8FCF7B509FF3</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
